button::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@keyframes change-bg {

    0% {
        background-image: url(https://practicetasks.github.io/css/img/1.png);
    }

    25% {
        background-image: url(https://practicetasks.github.io/css/img/2.png);
    }

    50% {
        background-image: url(https://practicetasks.github.io/css/img/3.png);
    }

    75% {
        background-image: url(https://practicetasks.github.io/css/img/4.png);
    }
}
