:root {
    --bg-pattern: url(https://practicetasks.github.io/css/img/flex/dotted.svg);
    --bg-pattern-additional: url(https://practicetasks.github.io/css/img/dotted-l.svg);
    --main-font-family: 'Open Sans';
    --main-text-size: clamp(0.875rem, 0.7679rem + 0.4762vw, 1.125rem);
    --black: #000;
    --gray: #c4c4c4;
    --white: #fff;
    --pink: #feafe8;
    --fuchsia: #fd24af;
    --yellow: #ffc802;
    --green: #80d994;
    --blue: #6dc1fd;
    --purple: #5f0dee;
    --h2-font-size: clamp(1.875rem, 1.6607rem + 0.9524vw, 2.375rem);
    --h3-font-size: clamp(1.5rem, 1.3125rem + 0.8333vw, 1.9375rem);
}